/*---ОБЩЕЕ--------------------------------------------------------*/
* {

    font-family: JetBrainsMono;
    font-size: 5px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 2px;
    
}

/*---БАР--------------------------------------------------------*/

window#waybar {
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: rgba(29,28,44,255);
}


/*---TOOLTIP--------------------------------------------------------*/
tooltip {
    background-color: #aaaaaa;
    border: 2px solid;
    border-color: #000000;
}

/*-Надпись-*/
tooltip label {
    color: #aaaaaa;
}


/*---ОСНОВНЫЕ МОДУЛИ--------------------------------------------------------*/
#custom-logo,
#window,
#workspaces,
#workspaces button,
#tray,
#language,
#custom-micro,
#custom-mako,
#custom-cava,
#custom-swaync,
#custom-powermenu,
#wireplumber {
    border-radius: 5px;
    background-color: #21283a;
    padding: 0 7.5px;
    margin: 5px;
	 font-size: 17px;
    color: #eaa0ad;
}


#custom-weather,
#clock {
    background-color: #21283a;
	  padding-right: 0px;
    margin: 0px;
	  font-size: 19px;
    color: #aaaaaa;
}

#network{
    border-radius: 5px;
    background-color: #21283a;
    padding: 0 20.5px;
    margin: 5px;
         font-size: 17px;
    color: #569C72;
}

#custom-layout{
    border-radius: 5px;
    background-color: #21283a;
    padding: 0 20.5px;
    margin: 5px;
         font-size: 17px;
    color: #F9D4B2;
}

#custom-tickers{
    border-radius: 5px;
    background-color: #21283a;
    padding: 0 15.5px;
    margin: 5px;
         font-size: 17px;
    color: #B3B3B3;
}
#custom-screenshot{
    border-radius: 5px;
    background-color: #21283a;
    padding: 0 15.5px;
    margin: 5px;
         font-size: 17px;
    color: #885df4;
}

#custom-powermenu {
  padding-left: 11.5px;
  padding-right: 12px;
	margin-left: 0px;
	font-size: 18px;
}




#custom-weather,
#clock,
#custom-logo {
    color: #698897;
    border-radius: 5px;
}


#workspaces button:hover,
#workspaces button.active {
    background-color: rgb(60, 60, 60);
    color: #000000;
    border-radius: 20px;
}


#custom-micro {
    font-size: 20px;
}

#custom-logo {

    padding: 8.5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    margin-left: 7.5px;
    margin-right: 1.5px;
}

#custom-weather,
#clock {
    margin: 3px;
    padding: 0 7.5px;
    border: 90px;
}

#custom-weather {
    margin-left: 7.5px;

}


#custom-music {
    background-color: #aaaaaa;
    padding: 0 7.5px;
    margin: 5px;
	  font-size: 17px;
    color: #000000;  
    border-radius : 20px;


}
#workspaces button {
    padding: 0 4px;
    margin: 2.5px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
